
/* Outline tutorials templates elements in atto */

.editor_atto_content .span2,
.editor_atto_content .span3,
.editor_atto_content .span4,
.editor_atto_content .span6,
.editor_atto_content .span7,
.editor_atto_content .span8,
.editor_atto_content .span9,
.editor_atto_content .span10,
.editor_atto_content .span11,
.editor_atto_content .span12 { border: 1px #ddd dashed; }

/* Button to select tutorials template */

.tutorialstemplateicon img { width: 30px; height: 30px; }

/* Button link wrapper */

a.tutorialstemplateicon {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    display: inline-block;
    margin: 1em;
    padding: 0.5em;
    /*background: -webkit-linear-gradient(#fff, #f2f2f2);
    background: -o-linear-gradient(#fff, #f2f2f2);
    background: -moz-linear-gradient(#fff, #f2f2f2);
    background: linear-gradient(#fff, #f2f2f2);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(100,100,100,0.1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(100,100,100,0.1);
    box-shadow: 0px 2px 2px 0px rgba(100,100,100,0.1);
  */
}

/* Tutorial styling */

.tutorial {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0;
  background-color: #ffffff;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #282828;
}

.tutorial > section {
  display: inline-block;
}

.tutorial > header > h1 {
  font-family: zag_boldregular, sans-serif;
}
@media only screen and (min-width: 768px) {
  .tutorial {
    font-size: 1.1em;
 }
}
@media only screen and (min-width: 992px) {
  .tutorial {
    font-size: 1.1em;
 }
}
.tutorial h1, .tutorial h2, .tutorial h3, .tutorial h4, .tutorial h5, .tutorial h6 {
  font-family: zag_regularregular, sans-serif;
}
.tutorial dd, .tutorial dl, .tutorial dt, .tutorial h1, .tutorial h2, .tutorial h3, .tutorial h4, .tutorial h5, .tutorial h6, .tutorial ol {
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: none;
}


.tutorial p, .tutorial ul, .tutorial ol {
  font-weight: 400;
  margin: 0;
  /* padding-left: 1em; */ /* custom */
  /* padding-right: 1em; */ /* custom */
  text-transform: none;
  min-width: 30%; /* custom */
  max-width: 100%; /* custom */
  font-size: 1.1em;
}

.tutorial address {
  font-style: italic;
}

.tutorial > .h2-container {
  background-color: gold;
  padding: 3em 0;
}
.tutorial > .h2-container h2 {
  margin: 0 15px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .tutorial > .h2-container h2 {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
 }
}
@media only screen and (min-width: 992px) {
  .tutorial > .h2-container h2 {
    width: 940px;
 }
}
@media only screen and (min-width: 1200px) {
  .tutorial > .h2-container h2 {
    width: 1140px;
 }
}
.tutorial .print-container {
  background-color: #fff;
}
.tutorial .print-container .container {
  position: relative;
}
.tutorial .print-container .icon-print {
  font-size: 1.4em;
}
.tutorial .print-container .button-print {
  display: inline;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 0.24em 0.24em;
  border: none;
  font-size: 0.7em;
  padding: 6px 12px;
  position: absolute;
  right: 15px;
}
.tutorial .print-container .button-print:hover {
  background-color: #1c1c1c;
  color: #fff;
}
.tutorial .print-container .text-print {
  font-family: zag_regularregular;
  font-size: 1.2em;
}
.tutorial a.download-button, .tutorial button.download-button {
  background: #ffd600;
  color: #000;
  border: 0;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-family: zag_boldregular, raleway, arial, sans-serif;
  letter-spacing: 1.7px !important;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 8px;
  font-smoothing: antialiased;
  text-decoration: none;
}
.tutorial a.download-button:hover, .tutorial button.download-button:hover {
  background: 0 0;
  -webkit-box-shadow: inset 0 0 0 5px #ffd600;
  box-shadow: inset 0 0 0 5px #ffd600;
  -webkit-transition: background 0.2s ease 0s;
  transition: background 0.2s ease 0s;
  text-decoration: none;
  color: #000;
}
.tutorial > header {
  font-family: zag_regularregular, sans-serif;
  background-position: center center;
  background-size: cover;
}
.tutorial > header .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.tutorial > header .fablib-banner {
  display: none;
}
.tutorial > header .heading {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.tutorial > header .heading h1, .tutorial > header .heading p {
  background-color: gold;
  padding: 5px;
  display: inline-block;
  margin: 0 0 5px;
  float: left;
  clear: left;
}
.tutorial > header .heading h1 {
  font-size: 1.8em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .tutorial > header .heading h1 {
    font-size: 2em;
 }
}
@media only screen and (min-width: 992px) {
  .tutorial > header .heading h1 {
    font-size: 2.2em;
 }
}
.tutorial > header .time {
  background-color: gold;
  font-size: 1.6em;
  color: #1c1c1c;
  width: 100px;
  text-align: center;
  padding: 10px;
}
.tutorial > header .time:before {
  font-family: Fontawesome !important;
  content: "\f017";
  display: block;
  margin-bottom: 15px;
}
.component {
  position: relative;
  margin: 3.5em 15px;
  border: 2px solid #1c1c1c;
  border-radius: 0 0.4em 0.4em;
}
@media only screen and (min-width: 768px) {
  .component {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
 }
}
@media only screen and (min-width: 992px) {
  .component {
    width: 940px;
    border-width: 4px;
 }
}
@media only screen and (min-width: 1200px) {
  .component {
    width: 1140px;
 }
}
.component > h3 {
  position: absolute;
  top: -2.1em;
  left: -2px;
  font-size: 1.5em;
  color: #fff;
  background-color: #1c1c1c;
  display: inline-block;
  padding: 1ex 1em;
  border-radius: 0.4em 0.4em 0 0;
}
@media only screen and (min-width: 768px) {
  .component > h3 {
    left: -3px;
 }
}
@media only screen and (min-width: 992px) {
  .component > h3 {
    left: -4px;
 }
}
.component > p {
  background-color: #fff;
  /* padding-left: 1em; */ /* custom */
  /* padding-right: 1em; *//* custom */
  position: relative;
  /*-webkit-box-shadow: 0 0 0 1px #1c1c1c;
  box-shadow: 0 0 0 1px #1c1c1c;*/
  -webkit-column-gap: 1.4em;
  column-gap: 1.4em;
  -webkit-column-rule: 1px outset #f4f4f4;
  column-rule: 1px outset #f4f4f4;
  float: none; /* placing of images next to ul */
}
@media only screen {
  .component > p {
    -webkit-column-count: 1;
    column-count: 1;
 }
}
/* @media only screen and (min-width: 768px) {
  .component > p {
    -webkit-column-count: 2;
    column-count: 2;
 }
}
@media only screen and (min-width: 992px) {
  .component > p {
    -webkit-column-count: 3;
    column-count: 3;
     */
    /* -webkit-box-shadow: 0 0 0 2px #1c1c1c;
    box-shadow: 0 0 0 2px #1c1c1c; */
 /* }
} */
.component pre, .subcomponent pre {
  margin: 0;
  background-color: #fff;
  border: none;
}
.component > img {
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 1em;
  min-width: 50%;
  background-color: #FFF;
}
.component ol, .component ul, .subcomponent ol, .subcomponent ul {
  padding: 0em 1em 1em 2em;
  position: relative;
  background-color: #fff;
  /* display: inline-block;
  float: none; */ /* placing of images next to ul */
  float: left;
  min-width: 48%;
  max-width: 100%;
}
.component h5, .component h6, .subcomponent h5, .subcomponent h6 {
  font-weight: 700;
}
.component p > .symbol-img, .subcomponent p > .symbol-img {
  width: 4em;
  float: left;
  margin-right: 1em;
}
.component p > img, .subcomponent p > img {
  height: auto;
  margin: 10px auto 0;
}

.component .no-columns > p {
  /* padding-left: 1em; */ /* custom */
  /* padding-right: 1em; */ /* custom */
  /* padding-top: 1em; */ /* custom */
}
.subcomponent {
  background-color: #fff;
  color: #1c1c1c;
  position: relative;
  margin: 1em;
  border: 2px solid #1c1c1c;
  border-radius: 0.4em;
  padding: 4px 0;
}

.subcomponent > img {
  width: 50%; /* custom */
  padding: 1em; /* custom */
}

@media only screen and (min-width: 768px) {
  .subcomponent {
    border-width: 3px;
 }
}
@media only screen and (min-width: 992px) {
  .subcomponent {
    border-width: 4px;
 }
}
/*
.subcomponent > :nth-child(2) {
  padding-top: calc(1em - 4px);
}
*/

.subcomponent > h4 {
  font-size: 1.4em;
  background-color: #1c1c1c;
  color: #fff;
  padding: 1ex 1em;
  padding-right: calc(1em + 2px);
  border-radius: 0.1em 0 0.4em 0;
  display: inline-block;
  position: relative;
  top: -4px;
}
@media only screen and (min-width: 768px) {
  .subcomponent > h4 {
    padding-right: calc(1em + 3px);
 }
}
@media only screen and (min-width: 992px) {
  .subcomponent > h4 {
    padding-right: calc(1em + 4px);
 }
}
.subcomponent > p {
  /* padding-left: 1em; */ /* custom */
  /* padding-right: 1em; */ /* custom */
  position: relative;
  background-color: #fff;
  -webkit-column-rule: 1px outset #f4f4f4;
  column-rule: 1px outset #f4f4f4;
  float: none; /* placing of images next to ul */
}
@media only screen {
  .subcomponent > p {
    -webkit-column-count: 1;
    column-count: 1;
 }
}
/* @media only screen and (min-width: 768px) {
  .subcomponent > p {
    -webkit-column-count: 2;
    column-count: 2;
 }
} */
.subcomponent > p:before {
  font-size: 2em;
}
.subcomponent > div {
  position: relative;
  background-color: #fff;
  -webkit-column-rule: 1px outset #f4f4f4;
  column-rule: 1px outset #f4f4f4;
}
@media only screen {
  .subcomponent > div {
    -webkit-column-count: 1;
    column-count: 1;
 }
}
/* @media only screen and (min-width: 768px) {
  .subcomponent > div {
    -webkit-column-count: 2;
    column-count: 2;
 }
} */
.subcomponent > div:before {
  font-size: 2em;
}
.subcomponent:before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(-1em - 4px);
  background-color: #1c1c1c;
  height: 1px;
  width: calc(100% + 2em + 10px);
}
@media only screen and (min-width: 992px) {
  .subcomponent:before {
    height: 2px;
 }
}
.symbol.subcomponent {
  background-color: #1c1c1c;
  color: #fff;
}
.symbol.subcomponent dl {
  padding: 1em;
  display: table;
  position: relative;
  width: calc(100% - 2em);
}
.symbol.subcomponent dt {
  font-size: 2em;
  width: 1.5em;
  display: table-cell;
  vertical-align: middle;
}
.symbol.subcomponent dt img {
  width: 2em;
  margin: 0;
}
.symbol.subcomponent dd {
  width: calc(100% - 1.5em);
  display: table-cell;
  vertical-align: middle;
}
.symbol.subcomponent dd ul {
  background-color: #1c1c1c;
}
.tutorial .stop, .tutorial .stop > h3, .tutorial .stop > h4 {
  color: #ff4606;
}
.tutorial .warning > :first-child:before {
  content: "\f071";
  font-family: FontAwesome;
  color: #ff9d00;
  vertical-align: text-top;
  margin-right: 0.5em;
  float: left;
}
.tutorial .stop > :first-child:before {
  content: "\f06a";
  font-family: FontAwesome;
  vertical-align: text-top;
  margin-right: 0.5em;
  float: left;
}
.tutorial .task > :first-child:before {
  content: "\f0ad";
  font-family: FontAwesome;
  vertical-align: text-top;
  margin-right: 0.5em;
  float: left;
}
.tutorial .code > :first-child:before {
  content: "\f121";
  font-family: FontAwesome;
  vertical-align: text-top;
  margin-right: 0.5em;
  float: left;
}
.tutorial .no-columns {
  -webkit-column-count: 1;
  column-count: 1;
  background-color: #FFF; /* custom */
  padding: 1em; /* custom */
}


.tutorial .no-columns > img {
  max-width: 50%; /* custom */
  padding: 1em; /* custom */
}

@media only screen {
  .tutorial .max-2-columns {
    -webkit-column-count: 1;
    column-count: 1;
 }
}
@media only screen and (min-width: 768px) {
  .tutorial .max-2-columns {
    -webkit-column-count: 2;
    column-count: 2;
 }
}
@media only screen and (min-width: 992px) {
  .tutorial .max-2-columns {
    -webkit-column-count: 2;
    column-count: 2;
 }
}
@media only screen {
  .tutorial .max-3-columns {
    -webkit-column-count: 1;
    column-count: 1;
 }
}
@media only screen and (min-width: 768px) {
  .tutorial .max-3-columns {
    -webkit-column-count: 2;
    column-count: 2;
 }
}
@media only screen and (min-width: 992px) {
  .tutorial .max-3-columns {
    -webkit-column-count: 3;
    column-count: 3;
 }
}
.tutorial .black {
  background-color: #1c1c1c;
  color: #fff;
}
.slides {
  position: relative;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 0;
}
.slides > .images > img, .slides > img {
  width: 100%;
}
.component > .slides, .subcomponent > .slides {
  padding: 1em;
  background-color: #fff;
}
.slidenav {
  position: absolute;
  clear: both;
  bottom: 2em;
  text-align: center;
  left: 0;
  width: 100%;
}
.slidenav ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  background-color: transparent;
}
.slidenav ul li {
  float: left;
  margin-top: 1em;
}
.slidenav ul li a {
  display: block;
  width: 0.5em;
  height: 0.5em;
  float: left;
  margin: 0 0.25em;
  border: 2px solid #fff;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
.slidenav ul li a.active, .slidenav ul li a:hover {
  background-color: #fff;
}
.tutorial .video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.video embed, .video iframe, .video object {
  position: absolute;
  top: 0;
  left: 1em;
  width: calc(100% - 2em);
  height: 100%;
}
.video .video-print {
  display: none;
}
.toc {
  position: fixed;
  background-color: #fff;
  color: #1c1c1c;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 0 0.4em 0.4em 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  margin: auto 0;
  width: 17.5em;
  height: auto;
  border: 3px solid #1c1c1c;
  border-left: 0;
  z-index: 1;
}
.toc.toc-collapsed {
  left: calc(-17.5em - 3px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.toc.toc-collapsed.toc-hidden {
  left: -23em;
}
.toc .collapser {
  position: absolute;
  cursor: pointer;
  left: calc(17.5em);
  top: 50%;
  -webkit-transform: translateY(3.64em);
  transform: translateY(3.64em);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.toc .collapser h2 {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
  border-radius: 0 0 0.4em 0.4em;
  padding: 0.4em 0.6em;
  font-size: 1.1em;
  background-color: #1c1c1c;
  color: #fff;
  display: inline-block;
}
.toc .collapser h2:after {
  content: "\2715";
  font-size: 0.6em;
  vertical-align: middle;
  padding-left: 1.526em;
  padding-bottom: 0.7em;
}
.toc ul {
  padding: 1em;
  list-style-type: none;
  max-height: calc(100vh - 8em);
  overflow-x: scroll;
}
.toc ul a {
  color: #1c1c1c;
  text-decoration: none;
  text-transform: lowercase;
  display: inline-block;
}
.toc ul a::first-letter {
  text-transform: uppercase;
}
.toc ul a:active, .toc ul a:focus, .toc ul a:hover {
  text-decoration: underline;
}
.toc ul li {
  padding: 0.2em 0;
}
.toc ul li:before {
  content: "\27A4";
  font-size: 0.5em;
  padding-right: 0.8em;
  line-height: 1em;
  vertical-align: middle;
}
.toc.toc-collapsed h2:after {
  content: "\2261";
  font-size: 1em;
  vertical-align: text-bottom;
  padding-left: 0.8em;
  padding-bottom: 0.3em;
}

.white-background {
  background-color: #FFF;
}